.Converter {
  background-color: #f578aa;
  min-height: 100vh;
}

.back-button {
  color: white;
  text-decoration: none;
}

.details-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.converter-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: #f7307c;
  width: 100%;
  padding: 40px 0;
}

.exchange-rate-text {
  margin: 0;
  color: white;
  text-align: center;
}

.base-to-specific,
.specific-to-base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.base-to-specific-heading,
.specific-to-base-heading {
  margin: 0;
  color: white;
}

.amount,
.converted {
  height: 20px;
  width: 24%;
  max-width: 180px;
  border: 2px solid white;
  background-color: #aa0547;
  color: white;
  padding: 10px;
}

.amount::placeholder,
.converted::placeholder {
  color: white;
  opacity: 0.5;
}

.amount::-webkit-outer-spin-button,
.amount::-webkit-inner-spin-button,
.converted::-webkit-outer-spin-button,
.converted::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount:focus,
.converted:focus {
  outline: 0;
}

.past-data-message {
  color: white;
  margin: 0;
  padding: 10px 0;
  font-style: italic;
}

.past-data-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.each-past-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.each-past-data:nth-child(odd) {
  background-color: #ea4a89;
}

.each-past-data:nth-child(even) {
  background-color: #d04379;
}

.pastRate-date,
.pastRate-rate {
  margin: 0;
  color: white;
  font-size: 20px;
  text-align: center;
}
